.animatedLoader {
    border: white 2vh dotted;
    border-radius: 100%;
    border-top-color: #424247;
    animation: loadingAnim 1s infinite;
}

@keyframes loadingAnim {
    0% {
        transform: rotate(0turn) scale(1);
    }

    80% {
        transform: rotate(1turn) scale(0.5);
    }

    100% {
        transform: rotate(1turn) scale(1);
    }
}